# By default, ATS will initiate https connection to original server for any non CONNECT request.
# It's unwanted for Lantern, as all non CONNECT requests are plain HTTP ones.
# Use wildcard remap from https to http to force ATS request through HTTP.
# It is problematic if the actual destination port is not 80, but would be rare.
regex_map https://(.*):443/ http://$1:80/
